<%= javascript_include_tag 'FileSaver', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'initDiagra', 'data-turbolinks-track': 'reload' %>
<script>
    var blobObject = null;

    function createDownloadLink(anchorSelector, str, fileName){

        if(window.navigator.msSaveOrOpenBlob) {
            var fileData = [str];
            blobObject = new Blob(fileData);
            $(anchorSelector).click(function(){
                window.navigator.msSaveOrOpenBlob(blobObject, fileName);
            });
        } else {
            var url = "data:text/plain;charset=utf-8," + encodeURIComponent(str);
            $(anchorSelector).attr("href", url);
        }
    }

    $(function () {
        var str = ""+generateScript();
        createDownloadLink("#export",str,"dinesh.txt");
    });
</script>
<script>
    $("#save-btn").click( function () {
        download("txt.txt","jajajajja");
    });
</script>
<body onload="init()">
<div id="sample">
  <div style="width: 100%; display: flex; justify-content: space-between">
    <div id="myPaletteDiv" style="width: 100px; margin-right: 2px; background-color: whitesmoke; border: solid 1px black"></div>
    <div id="myDiagramDiv" style="flex-grow: 1; height: 720px; border: solid 1px black"></div>
  </div>
  <a id="export" class="myButton" download="" href="#">export</a>
  <button id="save-btn">Save file </button>
  <button id="SaveButton" onclick="save()">Save</button>
  <button onclick="load()">Load</button>
  <button onclick="generateScript()">generate script</button>
  <textarea id="mySavedModel" style="width:100%;height:300px">
</textarea>
</div>
</body>
