<!DOCTYPE html>
<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <!--Import materialize.css-->
            <link href="../../css/materialize.min.css" media="screen,projection" rel="stylesheet" type="text/css"/>
            <link href="../../css/style.css" rel="stylesheet" type="text/css"/>
            <!--Let browser know website is optimized for mobile-->
            <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        </link>
    </head>
    <body>
        <div class="container ">
            <!-- BEGIN YOU cONTENT -->
            <div class="row container-section z-depth-1" style="background: #FBEEFF; margin-top: 100px;margin-right: -50px; ">
                <div class="row">
                    <div class="col s3" style="margin-top: -50px;margin-left: -28px; margin-bottom: -40px; position: relative;">
                        <img src="../../src/img/listenAndRepeat.png" style="width: 100%">
                        </img>
                    </div>
                </div>
                <div class="row valign-wrapper" style="margin-top: -10px; margin-left: 10px;">
                    <h3 class="col valign" style="color: #4EBAD5;font-family: 'Impact'; font-size: 2em;">
                        Circle the number you hear.
                    </h3>
                </div>
                <div class="row valign-wrapper" style="margin-top: -60px; margin-left: 10px;">
                    <h4 class="col valign" style="color:#55BFEA;font-family: 'Georgia'; font-size: 2em;">
                        Encierra el número que escuchas.
                    </h4>
                </div>
                <div class="row">
                    <div class="col s2">
                        <div class="row" style="margin-left: -40px; margin-top: -20px">
                            <a style="color:#55BFEA;font-family: 'Georgia'; font-size: 1.8em;">
                                a)
                            </a>
                            <a style="color: #4EBAD5;font-family: 'Impact'; font-size: 1.5em;">
                                13
                            </a>
                        </div>
                        <div class="row" style="margin-left: -40px; margin-top: -30px">
                            <a style="color:#55BFEA;font-family: 'Georgia'; font-size: 1.8em;">
                                b)
                            </a>
                            <a style="color: #4EBAD5;font-family: 'Impact'; font-size: 1.5em;">
                                19
                            </a>
                        </div>
                        <div class="row" style="margin-left: -40px; margin-top: -30px">
                            <a style="color:#55BFEA;font-family: 'Georgia'; font-size: 1.8em;">
                                c)
                            </a>
                            <a style="color: #4EBAD5;font-family: 'Impact'; font-size: 1.5em;">
                                16
                            </a>
                        </div>
                        <div class="row" style="margin-left: -40px; margin-top: -30px">
                            <a style="color:#55BFEA;font-family: 'Georgia'; font-size: 1.8em;">
                                d)
                            </a>
                            <a style="color: #4EBAD5;font-family: 'Impact'; font-size: 1.5em;">
                                14
                            </a>
                        </div>
                    </div>
                    <div class="col s3">
                        <div class="row" style="margin-left: -40px; margin-top: -15px">
                            <a style="color: #4EBAD5;font-family: 'Impact'; font-size: 1.5em;">
                                30
                            </a>
                        </div>
                        <div class="row" style="margin-left: -40px; margin-top: -24px">
                            <a style="color: #4EBAD5;font-family: 'Impact'; font-size: 1.5em;">
                                90
                            </a>
                        </div>
                        <div class="row" style="margin-left: -40px; margin-top: -24px">
                            <a style="color: #4EBAD5;font-family: 'Impact'; font-size: 1.5em;">
                                60
                            </a>
                        </div>
                        <div class="row" style="margin-left: -40px; margin-top: -24px">
                            <a style="color: #4EBAD5;font-family: 'Impact'; font-size: 1.5em;">
                                40
                            </a>
                        </div>
                    </div>
                    <div class="col s3">
                        <div class="row" style="margin-left: -40px; margin-top: -20px">
                            <a style="color:#55BFEA;font-family: 'Georgia'; font-size: 1.8em;">
                                e)
                            </a>
                            <a style="color: #4EBAD5;font-family: 'Impact'; font-size: 1.5em;">
                                18
                            </a>
                        </div>
                        <div class="row" style="margin-left: -40px; margin-top: -30px">
                            <a style="color:#55BFEA;font-family: 'Georgia'; font-size: 1.8em;">
                                f)
                            </a>
                            <a style="color: #4EBAD5;font-family: 'Impact'; font-size: 1.5em;">
                                12
                            </a>
                        </div>
                        <div class="row" style="margin-left: -40px; margin-top: -30px">
                            <a style="color:#55BFEA;font-family: 'Georgia'; font-size: 1.8em;">
                                g)
                            </a>
                            <a style="color: #4EBAD5;font-family: 'Impact'; font-size: 1.5em;">
                                15
                            </a>
                        </div>
                        <div class="row" style="margin-left: -40px; margin-top: -30px">
                            <a style="color:#55BFEA;font-family: 'Georgia'; font-size: 1.8em;">
                                h)
                            </a>
                            <a style="color: #4EBAD5;font-family: 'Impact'; font-size: 1.5em;">
                                17
                            </a>
                        </div>
                    </div>
                    <div class="col s3">
                        <div class="row" style="margin-left: -40px; margin-top: -15px">
                            <a style="color: #4EBAD5;font-family: 'Impact'; font-size: 1.5em;">
                                80
                            </a>
                        </div>
                        <div class="row" style="margin-left: -40px; margin-top: -24px">
                            <a style="color: #4EBAD5;font-family: 'Impact'; font-size: 1.5em;">
                                20
                            </a>
                        </div>
                        <div class="row" style="margin-left: -40px; margin-top: -24px">
                            <a style="color: #4EBAD5;font-family: 'Impact'; font-size: 1.5em;">
                                50
                            </a>
                        </div>
                        <div class="row" style="margin-left: -40px; margin-top: -24px">
                            <a style="color: #4EBAD5;font-family: 'Impact'; font-size: 1.5em;">
                                70
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row container-section z-depth-1" style="background: #E3F3F8; margin-top: 115px;margin-right: -50px; ">
                <div class="row">
                    <div class="col s3" style="margin-top: -95px;margin-left: -28px;  position: relative;">
                        <img src="../../src/img/exercise.png" style="width: 100%">
                        </img>
                    </div>
                    <div class="col s4" style="margin-top: -70px;margin-left: -30px; margin-bottom: -40px;">
                        <h3 class="col valign" style="color: #4EBAD5;font-family: 'Impact'; font-size: 2em;">
                            Match the numbers.
                        </h3>
                    </div>
                    <div class="col s3 offset-s9" style="margin-top: -100px;margin-bottom: -40px; margin-right: 10px">
                        <img src="../../src/img/go!.png" style="width: 100%">
                        </img>
                    </div>
                </div>
                <div class="row">
                    <div class="col s2">
                        <div class="row" style="margin-left: -40px; margin-top: -20px">
                            <a style="color:#135382;font-family: 'Impact'; font-size: 1.8em;">
                                1
                            </a>
                        </div>
                        <div class="row" style="margin-left: -40px; margin-top: -30px">
                            <a style="color:#135382;font-family: 'Impact'; font-size: 1.8em;">
                                2
                            </a>
                        </div>
                        <div class="row" style="margin-left: -40px; margin-top: -30px">
                            <a style="color:#135382;font-family: 'Impact'; font-size: 1.8em;">
                                3
                            </a>
                        </div>
                        <div class="row" style="margin-left: -40px; margin-top: -30px">
                            <a style="color:#135382;font-family: 'Impact'; font-size: 1.8em;">
                                4
                            </a>
                        </div>
                        <div class="row" style="margin-left: -40px; margin-top: -30px">
                            <a style="color:#135382;font-family: 'Impact'; font-size: 1.8em;">
                                5
                            </a>
                        </div>
                        <div class="row" style="margin-left: -40px; margin-top: -30px">
                            <a style="color:#135382;font-family: 'Impact'; font-size: 1.8em;">
                                6
                            </a>
                        </div>
                        <div class="row" style="margin-left: -40px; margin-top: -30px">
                            <a style="color:#135382;font-family: 'Impact'; font-size: 1.8em;">
                                7
                            </a>
                        </div>
                        <div class="row" style="margin-left: -40px; margin-top: -30px">
                            <a style="color:#135382;font-family: 'Impact'; font-size: 1.8em;">
                                8
                            </a>
                        </div>
                        <div class="row" style="margin-left: -40px; margin-top: -30px">
                            <a style="color:#135382;font-family: 'Impact'; font-size: 1.8em;">
                                9
                            </a>
                        </div>
                        <div class="row" style="margin-left: -40px; margin-top: -30px">
                            <a style="color:#135382;font-family: 'Impact'; font-size: 1.8em;">
                                10
                            </a>
                        </div>
                        <div class="row" style="margin-left: -40px; margin-top: -30px">
                            <a style="color:#135382;font-family: 'Impact'; font-size: 1.8em;">
                                11
                            </a>
                        </div>
                        <div class="row" style="margin-left: -40px; margin-top: -30px">
                            <a style="color:#135382;font-family: 'Impact'; font-size: 1.8em;">
                                12
                            </a>
                        </div>
                        <div class="row" style="margin-left: -40px; margin-top: -30px">
                            <a style="color:#135382;font-family: 'Impact'; font-size: 1.8em;">
                                13
                            </a>
                        </div>
                        <div class="row" style="margin-left: -40px; margin-top: -30px">
                            <a style="color:#135382;font-family: 'Impact'; font-size: 1.8em;">
                                14
                            </a>
                        </div>
                        <div class="row" style="margin-left: -40px; margin-top: -30px">
                            <a style="color:#135382;font-family: 'Impact'; font-size: 1.8em;">
                                15
                            </a>
                        </div>
                        <div class="row" style="margin-left: -40px; margin-top: -30px">
                            <a style="color:#135382;font-family: 'Impact'; font-size: 1.8em;">
                                16
                            </a>
                        </div>
                    </div>
                    <div class="col s3" style="text-align: left;margin-left: 85px;">
                        <div class="row" style=" margin-top: -20px;">
                            <a style="color:#2C55BE;font-family: 'Impact'; font-size: 1.8em;">
                                seven
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px;">
                            <a style="color:#2C55BE;font-family: 'Impact'; font-size: 1.8em;">
                                one
                            </a>
                        </div>
                        <div class="row" style="margin-top: -30px">
                            <a style="color:#2C55BE;font-family: 'Impact'; font-size: 1.8em;">
                                four
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#2C55BE;font-family: 'Impact'; font-size: 1.8em;">
                                five
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#2C55BE;font-family: 'Impact'; font-size: 1.8em;">
                                six
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#2C55BE;font-family: 'Impact'; font-size: 1.8em;">
                                ten
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#2C55BE;font-family: 'Impact'; font-size: 1.8em;">
                                nine
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#2C55BE;font-family: 'Impact'; font-size: 1.8em;">
                                two
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#2C55BE;font-family: 'Impact'; font-size: 1.8em;">
                                eight
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#2C55BE;font-family: 'Impact'; font-size: 1.8em;">
                                three
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#2C55BE;font-family: 'Impact'; font-size: 1.8em;">
                                thirteen
                            </a>
                        </div>
                        <div class="row" style="margin-top: -30px">
                            <a style="color:#2C55BE;font-family: 'Impact'; font-size: 1.8em;">
                                fifteen
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#2C55BE;font-family: 'Impact'; font-size: 1.8em;">
                                twelve
                            </a>
                        </div>
                        <div class="row" style="margin-top: -30px">
                            <a style="color:#2C55BE;font-family: 'Impact'; font-size: 1.8em;">
                                sixteen
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#2C55BE;font-family: 'Impact'; font-size: 1.8em;">
                                eleven
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#2C55BE;font-family: 'Impact'; font-size: 1.8em;">
                                fourteen
                            </a>
                        </div>
                    </div>
                    <div class="col s2" style="text-align: left;margin-left: 0px;">
                        <div class="row" style=" margin-top: -20px">
                            <a style="color:#135382;font-family: 'Impact'; font-size: 1.8em;">
                                21
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#135382;font-family: 'Impact'; font-size: 1.8em;">
                                30
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#135382;font-family: 'Impact'; font-size: 1.8em;">
                                33
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#135382;font-family: 'Impact'; font-size: 1.8em;">
                                40
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#135382;font-family: 'Impact'; font-size: 1.8em;">
                                44
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#135382;font-family: 'Impact'; font-size: 1.8em;">
                                50
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#135382;font-family: 'Impact'; font-size: 1.8em;">
                                55
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#135382;font-family: 'Impact'; font-size: 1.8em;">
                                60
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#135382;font-family: 'Impact'; font-size: 1.8em;">
                                66
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#135382;font-family: 'Impact'; font-size: 1.8em;">
                                70
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#135382;font-family: 'Impact'; font-size: 1.8em;">
                                77
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#135382;font-family: 'Impact'; font-size: 1.8em;">
                                80
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#135382;font-family: 'Impact'; font-size: 1.8em;">
                                88
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#135382;font-family: 'Impact'; font-size: 1.8em;">
                                90
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#135382;font-family: 'Impact'; font-size: 1.8em;">
                                99
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#135382;font-family: 'Impact'; font-size: 1.8em;">
                                100
                            </a>
                        </div>
                    </div>
                    <div class="col s3" style="text-align: left;margin-left: 45px;">
                        <div class="row" style=" margin-top: -20px">
                            <a style="color:#2C55BE;font-family: 'Impact'; font-size: 1.8em;">
                                sixty
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#2C55BE;font-family: 'Impact'; font-size: 1.8em;">
                                twenty-one
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#2C55BE;font-family: 'Impact'; font-size: 1.8em;">
                                One hundred
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#2C55BE;font-family: 'Impact'; font-size: 1.8em;">
                                forty
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#2C55BE;font-family: 'Impact'; font-size: 1.8em;">
                                fifty-five
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#2C55BE;font-family: 'Impact'; font-size: 1.8em;">
                                ninety
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#2C55BE;font-family: 'Impact'; font-size: 1.8em;">
                                eighty-eight
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#2C55BE;font-family: 'Impact'; font-size: 1.8em;">
                                seventy
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#2C55BE;font-family: 'Impact'; font-size: 1.8em;">
                                fifty
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#2C55BE;font-family: 'Impact'; font-size: 1.8em;">
                                fourty-for
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#2C55BE;font-family: 'Impact'; font-size: 1.8em;">
                                eighty
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#2C55BE;font-family: 'Impact'; font-size: 1.8em;">
                                ninety-nine
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#2C55BE;font-family: 'Impact'; font-size: 1.8em;">
                                thirty
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#2C55BE;font-family: 'Impact'; font-size: 1.8em;">
                                thirty-three
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#2C55BE;font-family: 'Impact'; font-size: 1.8em;">
                                seventy-seven
                            </a>
                        </div>
                        <div class="row" style=" margin-top: -30px">
                            <a style="color:#2C55BE;font-family: 'Impact'; font-size: 1.8em;">
                                sixty-six
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row container-section z-depth-1" style="background: #E3F3F8; margin-top: 115px;margin-right: -50px;">
                <div class="row">
                    <div class="col s3" style="margin-top: -95px;margin-left: -28px;  position: relative;">
                        <img src="../../src/img/exercise.png" style="width: 100%">
                        </img>
                    </div>
                    <div class="col s8" style="margin-top: -70px;margin-left: -30px; margin-bottom: -40px;">
                        <h3 class="col valign" style="color: #4EBAD5;font-family: 'Impact'; font-size: 1.5em;">
                            Write The following numbers as text.
                        </h3>
                    </div>
                    <div class="col s8" style="margin-top: -47px;margin-left: -30px; margin-bottom: -40px;">
                        <h3 class="col valign" style="color: #55BFEA;font-family: 'Georgia'; font-size: 1.5em;">
                            Escribe los siguientes números en inglés.
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col s2">
                        <div class="row" style="margin-left: -40px; margin-top: -20px">
                            <a style="color:#55BFEA;font-family: 'Georgia'; font-size: 1.8em;">
                                a)
                            </a>
                        </div>
                        <div class="row" style="margin-left: -40px; margin-top: -20px">
                            <a style="color:#55BFEA;font-family: 'Georgia'; font-size: 1.8em;">
                                b)
                            </a>
                        </div>
                        <div class="row" style="margin-left: -40px; margin-top: -20px">
                            <a style="color:#55BFEA;font-family: 'Georgia'; font-size: 1.8em;">
                                c)
                            </a>
                        </div>
                        <div class="row" style="margin-left: -40px; margin-top: -20px">
                            <a style="color:#55BFEA;font-family: 'Georgia'; font-size: 1.8em;">
                                d)
                            </a>
                        </div>
                        <div class="row" style="margin-left: -40px; margin-top: -20px">
                            <a style="color:#55BFEA;font-family: 'Georgia'; font-size: 1.8em;">
                                e)
                            </a>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="row">
                            <div class="col s1" style="margin-top: -12px;">
                                <a style="color:#C467BF;font-family: 'Impact'; font-size: 1.3em; ">
                                    25
                                </a>
                            </div>
                            <div class="input-field col s10 offset-s3" style="margin-top: -25px; margin-left: 0px;margin-bottom: -10px">
                                <input class="validate" id="last_name" style="margin-bottom: -15px;padding-bottom: -10px;padding-top: -5px" type="text">
                                </input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s1" style="margin-top: -12px;">
                                <a style="color:#C467BF;font-family: 'Impact'; font-size: 1.3em; ">
                                    13
                                </a>
                            </div>
                            <div class="input-field col s10 offset-s3" style="margin-top: -25px; margin-left: 0px">
                                <input class="validate" id="last_name" style="padding-bottom: -5px" type="text">
                                </input>
                            </div>
                        </div>
                        <div class="row" style="margin-top: -20px">
                            <div class="col s1" style="margin-top: -12px;">
                                <a style="color:#C467BF;font-family: 'Impact'; font-size: 1.3em; ">
                                    19
                                </a>
                            </div>
                            <div class="input-field col s10 offset-s3" style="margin-top: -25px; margin-left: 0px">
                                <input class="validate" id="last_name" style="padding-bottom: -5px" type="text">
                                </input>
                            </div>
                        </div>
                        <div class="row" style="margin-top: -20px">
                            <div class="col s1" style="margin-top: -12px;">
                                <a style="color:#C467BF;font-family: 'Impact'; font-size: 1.3em; ">
                                    135
                                </a>
                            </div>
                            <div class="input-field col s10 offset-s3" style="margin-top: -25px; margin-left: 0px">
                                <input class="validate" id="last_name" style="padding-bottom: -5px" type="text">
                                </input>
                            </div>
                        </div>
                        <div class="row" style="margin-top: -20px">
                            <div class="col s1" style="margin-top: -12px;">
                                <a style="color:#C467BF;font-family: 'Impact'; font-size: 1.3em; ">
                                    475
                                </a>
                            </div>
                            <div class="input-field col s10 offset-s3" style="margin-top: -25px; margin-left: 0px">
                                <input class="validate" id="last_name" style="padding-bottom: -5px" type="text">
                                </input>
                            </div>
                        </div>
                    </div>
                    <div class="col s2" style="margin-right:10px">
                        <img src="../../src/img/7165-pag_9.png" style="width: 100%">
                        </img>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CONTENT -->
    </body>
</html>
