<!DOCTYPE html>
<html>
<head>
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="../../css/materialize.min.css"
	media="screen,projection" />
	<link type="text/css" rel="stylesheet" href="../../css/style.css" />

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>		
        <div class="row">
		    <div class="col s12">
               <div class="col s4 fullWidth fullHeight padding-top"><img src="../../src/img/go!.png" width="270" ></div><div class="col s1 fullWidth fullHeight"><img src="../../src/img/corchete1.png " height="100" text-align= "left"></div>
			    <div class="col s6" style="">  <p class="text2">Este icono marca la diferencia pues representa y te recuerda quetienes la opción de dirigirte a nuestra plataforma virtual y poder seguir con tu avance de manera más interactiva y dinámica.</p>
			    </div>
								       
				<div class="col s1 fullWidth fullHeight" style="margin-right: -5px"><img src="../../src/img/corchete2.png" height="100" >
				</div>
			</div>
        </div>
		<div class="row">
			<div class="col s12">
                <div class="col s4 fullWidth fullHeight"><img src="../../src/img/g.png" width="180" ></div>			       	       
				<div class="col s1 fullWidth fullHeight"><img src="../../src/img/corchete1.png " height="100" text-align= "left"></div>
				<div class="col s6" style="">  <p class="text2">Este ícono es de suma importancia por que en el se encuentran las reglas gramaticales que deberás estudiar y aplicar a lo largo de las lecciones.</p>
				</div>								       
				<div class="col s1 fullWidth fullHeight" style="margin-right: -5px"><img src="../../src/img/corchete2.png" height="100" ></div>
			</div>
		</div>
	    <div class="row">
		    <div class="col s12">
                <div class="col s4 fullWidth fullHeight"><img src="../../src/img/comunication.png" width="180" ></div>								       								       
				<div class="col s1 fullWidth fullHeight"><img src="../../src/img/corchete1.png " height="100" text-align= "left"></div>
				<div class="col s6" style="">  <p class="text2">Este icono representa y te recuerda que tienes la opción de poder comunicarte con tu teacher mediante las distintas plataformas virtuales como ser Facebook, WhatsApp, twitter para despejar todas tus dudas sobre la lección que estés cursando.</p></div>
				<div class="col s1 fullWidth fullHeight" style="margin-right: -5px"><img src="../../src/img/corchete2.png" height="100" ></div>
			</div>
        </div>
	    <div class="row">
		    <div class="col s12">
            	<div class="col s4 fullWidth fullHeight"><img src="../../src/img/example.png" width="270" ></div>   <div class="col s1 fullWidth fullHeight"><img src="../../src/img/corchete1.png " height="100" text-align= "left"> </div>
				<div class="col s6" style="">  <p class="text2">En este cuadro encontrarás diferentes ejemplos de las reglas gramaticales vistas anteriormente, cabe recalcar que este cuadro siempre será seguido del cuadro de gramática.</p></div>								       
			 	<div class="col s1 fullWidth fullHeight" style="margin-right: -5px"><img src="../../src/img/corchete2.png" height="100" ></div>
		    </div>
        </div>
 		<div class="row">
		<div class="col s12">
            <div class="col s4 fullWidth fullHeight padding-top" 25px"><img src="../../src/img/ahoraDirijase.png" width="270" ></div>
			    <div class="col s1 fullWidth fullHeight"><img src="../../src/img/corchete1.png " height="100" text-align= "left"></div>
			<div class="col s6" style="">  <p class="text2">Este ícono es de suma importancia por que en el se encuentran las reglas gramaticales que deberás estudiar y aplicar a lo largo de las lecciones.</p></div>
								       
			<div class="col s1 fullWidth fullHeight" style="margin-right: -5px"><img src="../../src/img/corchete2.png" height="100" ></div>
	    </div>	</div>	
	    <div class="row">
	        <div class="col s12">
                <div class="col s4 fullWidth fullHeight padding-top" 25px"><img src="../../src/img/sabiasQue.png" width="270" ></div>	
                <div class="col s1 fullWidth fullHeight"><img src="../../src/img/corchete1.png " height="100" text-align= "left"></div>
				<div class="col s6" style="">  <p class="text2">Este ícono lo encontrarás al final de cada unidad, en el que podrás encontrar un artículo de mucho interés de acuerdo a las lecciones previamente vistas.</p></div>								       
			     <div class="col s1 fullWidth fullHeight" style="margin-right: -5px"><img src="../../src/img/corchete2.png" height="100" ></div>
		    </div>
	    </div>
	    <div class="row">
	        <div class="col s12">
                <div class="col s4 fullWidth fullHeight padding-top"><img src="../../src/img/useful.png" width="270" ></div>
                <div class="col s1 fullWidth fullHeight"><img src="../../src/img/corchete1.png " height="100" text-align= "left"></div>
				<div class="col s6" style="">  <p class="text2">Este icono te muestra palabras no traducidas con su espectiva pronunciación (castellanizada) y su traducción.</p></div>								       
			     <div class="col s1 fullWidth fullHeight" style="margin-right: -5px"><img src="../../src/img/corchete2.png" height="100" ></div>
		    </div>
	    </div>
	    <div class="row">
	        <div class="col s12">
                <div class="col s4 fullWidth fullHeight"><img src="../../src/img/useful1.png" width="270" ></div>	
                <div class="col s1 fullWidth fullHeight"><img src="../../src/img/corchete1.png " height="100" text-align= "left"></div>
				<div class="col s6" style="">  <p class="text2">Este icono te presentara una pequeña ventana, donde podrás observas el vocabulario que necesitas para ampliar tu aprendizaje.</p></div>								       
			     <div class="col s1 fullWidth fullHeight" style="margin-right: -5px"><img src="../../src/img/corchete2.png" height="100" ></div>
		    </div>
	    </div>
	    <div class="row">
	       <div class="col s4 fullWidth fullHeight"><img src="../../src/img/veryImportant.png" width="200" ></div>	
	       <div class="col s4 fullWidth fullHeight"><img src="../../src/img/tienesDudas.png" width="270" ></div>
	       <div class="col s4 fullWidth fullHeight"><img src="../../src/img/247.png" width="270" ></div>
	       
	    </div>
	    <div class="row">
	    	<div class="col s1 fullWidth fullHeight"><img src="../../src/img/corchete1.png " height="120" text-align= "left"></div>
			<div class="col s2" style="">  <p class="text2">Este ícono te recordará los puntos y partes importantes que estas estudiando.</p></div>								       
		    <div class="col s1 fullWidth fullHeight" style="margin-right: -5px"><img src="../../src/img/corchete2.png" height="120" ></div>

		    <div class="col s1 fullWidth fullHeight"><img src="../../src/img/corchete1.png " height="120" text-align= "left"></div>
			<div class="col s2" style="">  <p class="text2">Este icono representa la ayuda que puedes obtener de manera directa online en tiempo real al solicitar una video llamada vía Skype</p></div>								       
		    <div class="col s1 fullWidth fullHeight" style="margin-right: -5px"><img src="../../src/img/corchete2.png" height="120" ></div>

		    <div class="col s1 fullWidth fullHeight"><img src="../../src/img/corchete1.png " height="120" text-align= "left"></div>
			<div class="col s2" style="">  <p class="text2">Este icono te recuerda que tendrás un asesoramiento vía online las 24 horas del día y los 7 días de la semana.</p></div>								       
		    <div class="col s1 fullWidth fullHeight" style="margin-right: -5px"><img src="../../src/img/corchete2.png" height="120" ></div>
	    </div>
		

							


		<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../js/materialize.min.js"></script>
		<script src="../js/init.js"></script>
</body>
</html>