<style>

#page{
  background: #63e25b;
  z-index: 1;
  height: 250px;
  position: absolute;
  height: 300px;
  width: 80%;
  top: 100px;
  left: 100px;
}
</style>

 <%=render 'dashboard/border_partial'%>
<div id="page">
</div>