<style>

  #page{
    background: yellow;
    z-index: 1;
    height: 250px;
    position: absolute;
    height: 400px;
    width: 80%;
    top: 100px;
    left: 100px;
  }
</style>
<%=render 'dashboard/border_partial'%>
<div id="page">
  <h1>HOJA 1 </h1>
</div>