<style>
  #borde{
    background: darkred;
    position: absolute;
    z-index: 0;
    height: 600px;
    width: 600px;

  }
#page{
background: #63e25b;
z-index: 2;
height: 250px;
}
</style>
<div id="borde">
</div>

<div id="page">
</div>