<!DOCTYPE html>
<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <!--Import materialize.css-->
            <link href="../../css/materialize.min.css" media="screen,projection" rel="stylesheet" type="text/css"/>
            <link href="../../css/style.css" rel="stylesheet" type="text/css"/>
            <!--Let browser know website is optimized for mobile-->
            <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        </link>
    </head>
    <body>
        <div class="container" style="background-color: #E3F3F8">
            <!-- BEGIN YOU cONTENT -->
            <div class="row fullWidth" style="margin-top: 30px">
                <div class="col s3 tab">
                    <h3 style="color: #00A0B0;">
                        Lesson 1
                    </h3>
                </div>
                <div class="col s9" style="margin: 20px 0px 0 0px">
                    <div class="row fullWidth">
                        <h6 class="large-text flow-text font-title left" style="color: #00A0B0;">
                            The Alphabet, colors and numbers.
                        </h6>
                    </div>
                    <div class="row fullWidth">
                        <h6 class="medium-text flow-text font-subtitle left" style="color: #C6BA2E; margin-top: -25px">
                            El alfabeto, colores y números.
                        </h6>
                    </div>
                </div>
            </div>
            <div class="row fullWidth" style="position: absolute;top: 120px;right: 220px;width:220px;height: 75px;">
                <img src="../../src/img/27-7.png" style="width: 100%">
                </img>
            </div>
            <div class="row no-pm valign-wrapper" style="margin-top: 5em;">
                <img class="col s10 valign" src="../../src/img/girls.png">
                    <div class="col s1">
                    </div>
                </img>
            </div>
            <div class="row container-section-1 z-depth-1" style="position: relative;background: #F8F1F0;padding: 1em;margin-top: 4em;">
                <div class="col s12 valign-wrapper" style="margin-top: 3em;">
                    <h4 class="col valign" style="color: #00A0B0;">
                        Vocabulary |
                    </h4>
                    <h5 class="col valign" style="color: #C6BA2E;">
                        Vocabulario
                    </h5>
                </div>
                <img class="col s12" src="../../src/img/alphabet_7.png">
                    <div style="position: absolute;top: -50px;left: -25px;width: 250px;height: 100px;">
                        <img class="hand full" id="musicWidget" src="../../src/img/listenAndRepeat.png">
                        </img>
                    </div>
                    <div style="position: absolute;top: -50px;right: -15px;width: 250px;height: 100px;">
                        <img class="hand full" src="../../src/img/go!.png">
                        </img>
                    </div>
                </img>
            </div>
            <!-- Contenedor Hoja -->
        </div>
        <!-- END YOU cONTENT -->
    </body>
</html>
<!--Import jQuery before materialize.js-->
<script src="../../js/jquery.js" type="text/javascript">
</script>
<script src="../../js/materialize.min.js" type="text/javascript">
</script>
<script src="../../js/page36.js">
</script>
<script src="../../js/init.js">
</script>
