<style>
  #border{
    background: #730E15;
    height: 500px;
    z-index: 1;
    padding: 40px;
  }
  #page{
    background: #63e25b;
    z-index: 2;
    height: 250px;
  }
</style>

<div id="border" >
  <div id="page">
  </div>
</div>
