<!DOCTYPE html>
<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <!--Import materialize.css-->
            <link href="../../css/materialize.min.css" media="screen,projection" rel="stylesheet" type="text/css"/>
            <link href="../../css/style.css" rel="stylesheet" type="text/css"/>
            <!--Let browser know website is optimized for mobile-->
            <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        </link>
    </head>
    <body>
        <!-- BEGIN YOU cONTENT -->
        <div class="container " style="background: #EAF5E6">
            <div class="row blue">
                <div class="col s1">
                    1
                </div>
                <div class="col s1">
                    1
                </div>
                <div class="col s1">
                    1
                </div>
                <div class="col s1">
                    1
                </div>
                <div class="col s1">
                    1
                </div>
                <div class="col s1">
                    1
                </div>
                <div class="col s1">
                    1
                </div>
                <div class="col s1">
                    1
                </div>
                <div class="col s1">
                    1
                </div>
                <div class="col s1">
                    1
                </div>
                <div class="col s1">
                    1
                </div>
                <div class="col s1">
                    1
                </div>
            </div>
            <div class="row">
                <div class="col s12 red">
                    hola
                </div>
                <div class="col s6 ">
                    <div class="row">
                        <div class="col s12 blue">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam quaerat est fugit molestias saepe quidem, doloribus pariatur labore cum vero necessitatibus voluptas! Natus veritatis eum saepe ipsa atque quasi minima.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6 yellow">
                            yo Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum pariatur eaque fugit soluta non expedita cum asperiores earum laborum, vero, sint, iste voluptatum eum provident delectus rem. Deserunt, amet, nisi?
                        </div>
                        <div class="col s6 orange">
                            el
                        </div>
                    </div>
                </div>
                <div class="col s6 ">
                    <div class="row ">
                        <div class="col s1 red">
                            1
                        </div>
                        <div class="col s1 orange">
                            1
                        </div>
                        <div class="col s1 yellow">
                            1
                        </div>
                        <div class="col s1 blue">
                            1
                        </div>
                        <div class="col s1 yellow">
                            1
                        </div>
                        <div class="col s1 orange">
                            1
                        </div>
                        <div class="col s1 yellow">
                            1
                        </div>
                        <div class="col s1 orange">
                            1
                        </div>
                        <div class="col s1 yellow">
                            1
                        </div>
                        <div class="col s1 orange">
                            1
                        </div>
                        <div class="col s1 yellow">
                            1
                        </div>
                        <div class="col s1 orange">
                            1
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 500px; height: 500px;">
                <img src="../../src/img/minio_pag10.png" style="width: 100px; height: 100px;"/>
            </div>
            <div class="input-field col s4 ">
                <input class="validate " id="last_name" type="text">
                </input>
            </div>
            <div class="card">
            </div>
            <div class="card card-1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis hic aliquam minus, nemo in dicta maiores rem obcaecati nisi quis iure, velit, earum accusantium excepturi numquam, repudiandae ipsa commodi. Dolorum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolores possimus quam corporis ullam iure delectus necessitatibus perferendis ex, nulla officiis eum nostrum minus et totam beatae, labore, magnam inventore!
            </div>
            <div class="card card-2">
                <img src="../../src/img/minio_pag10.png" style="width: 100%;"/>
            </div>
            <div class="card card-3">
            </div>
            <div class="card card-4">
            </div>
            <div class="card card-5">
            </div>
        </div>
        <div id="">
            <div id="">
                <img src="../../src/img/track.png" style="width: 100%">
                    <h2 style="margin-top: -50px">
                        Rodrigo
                    </h2>
                </img>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <img src="../../src/img/track.png">
                            <span class="card-title">
                                Card Title
                            </span>
                        </img>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
<!-- END CONTENT -->
<!--Import jQuery before materialize.js-->
<script src="../../js/jquery.js" type="text/javascript">
</script>
<script src="../../js/materialize.min.js" type="text/javascript">
</script>
