// Place all the styles related to the Registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.help {
  margin-left: 0px;
  margin-top: 0;
  font-size: 0.8em;
  color: #777;

}
//-------message-error-fields------------
.input-field div.error {
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color: #FF4081;
  margin-left: 40px;

}
//------message-error-fields--------------